<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MtimeFieldTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MtimeFieldT">
        <id column="UUID" property="uuid" />
        <result column="cinema_id" property="cinemaId" />
        <result column="film_id" property="filmId" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="hall_id" property="hallId" />
        <result column="hall_name" property="hallName" />
        <result column="price" property="price" />
    </resultMap>

    <select id="selectFilmIdListByCinemaId" resultType="int">
        select distinct film_id from mtime_field_t where cinema_id = #{cinemaId}
    </select>
    <select id="selectFieldListByCinemaIdAndFilmId"
            resultType="com.stylefeng.guns.rest.common.persistence.model.field.FilmField">
        select UUID as fieldId,begin_time as beginTime,end_time as endTime,hall_name as hallName,price from mtime_field_t
        where cinema_id = #{cinemaId} and film_Id = #{filmId}
    </select>
  <select id="selectHallIdByFieldId" resultType="int">
      select hall_id from mtime_field_t where UUID = #{fieldId}
  </select>
  <select id="selectFieldMsgById" resultType="com.stylefeng.guns.rest.cinema.vo.FieldMsgForOrder">
      select cinema_id as cinemaId,film_id as filmId,price from mtime_field_t where UUID = #{fieldId}
  </select>
  <select id="getFieldTimeById" resultType="java.lang.String">
    select begin_time from mtime_field_t where UUID = #{fieldId}
  </select>

</mapper>
